input {
 udp {
  port => 514
  type => "udp"
 }
}

filter {
 grok {
  type => "udp"
  patterns_dir => [ "/etc/logstash/files/patterns" ]
  match => [ "message", "<%{NONNEGINT:priority}>%{SYSLOGTSPIX:timestamp} %{HOSTNAME:hostname} : %(%{WORD:app}|-)-(%{WORD:proc}|-)-(%{WORD:msgid}|-):%{GREEDYDATA:message}" ]
  overwrite => [ "message" ]
  add_tag => [ "syslog" ]
 }
 
}

output {
 elasticsearch {
  host => "log-01.datacentre.esendex.com"
  type => "udp"
 }
}

