input {
 udp {
  port => 514
  type => "udp"
 }
}

filter {
 grok {
  add_tag => [ "syslog" ]
  patterns_dir => [ "/etc/logstash/files/patterns" ]
  match => [ "message", "%{SYSLOG5424PRI:Priority}%{SYSLOGTSPIX:timestamp} %{HOSTNAME:syslog5424_host} : %{GREEDYDATA:message}" ]  
  type => "udp"
 }
}

output {
 elasticsearch {
  host => "log-01.datacentre.esendex.com"
  type => "udp"
 }
}

